<div class='container'>
  <div class='row'>
    <h1 class="mx-auto pt-3 pb-2"><%= @anime.title %></h1>
  </div>
  <div class='row'>
    <div class="card mt-3 mb-3 mx-auto">
      <div class="card-body login-card-body">
        <div class="d-flex justify-content-around">
          <h4 class="mr-4 text-center">平均点</h4>
          <div id="average-review-rating" class="mx-auto pt-2 pb-2 ml-3" data-score=<%= @comments.average(:rate).to_f.round(1) %>></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <div>
      <% @comments.each do |post| %>
      <div class="card mt-3 mb-3">
        <div class="card-body login-card-body">
          <div class="mb-3"><%= link_to customer_path(post.customer.id) do %><%= post.customer.name %><% end %></div>
         <div id="review-rating<%= post.id %>" data-score="<%= post.rate %>">評価：</div>
         <span class="sentiment-score">本文の感情分析スコア<%= post.score %></span>
         <p><%= post.comment %></p>
          <% if post.customer == current_customer %>
            <div>
             <%= link_to "削除", anime_post_path(post.anime, post), method: :delete %>
            </div>
          <% end %>
          <script>
          $('#review-rating<%= post.id %>').empty();
          $('#review-rating<%= post.id %>').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
          });
         </script>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
 $('#average-review-rating').empty();
 $('#average-review-rating').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    readOnly: true,
    score: "comment[rate]",
    //注目ポイント↑ 平均点を算出し、round関数で切り上げ
  });
</script>