<script>
  function get_animation_title( params ){
    console.log(params);
    $.ajax({
      url: "https://api.annict.com/v1/works"+"?access_token=" + ANNICT_API_KEY + "&filter_ids=" + params,
      type:"GET",
      crossDomain:true,
      dataType : 'json',
      headers:{"accept":"application/json","Access-Control-Allow-Origin":"*"},
    }).done(function (data){
      console.log(data);
      data.works.forEach(anime=>{
        console.log(anime);
        $('.card-title'+anime.id).text(anime.title);
        $('.card-img-top'+anime.id).attr("src",anime.images.facebook.og_image_url);
      });
      // 位置
    }).fail(function (data) {
        //通信失敗
        alert('通信に失敗しました。');
    });
  }
</script>
  <div class="container container-m">
    <div class="row">
     <h1 class="mx-auto pt-4 pb-3">評価したアニメ一覧</h1>
    </div>
      <% @customer.posts.each do |post| %>
        <div class="col-md-10">
          <div class="card mb-4 mt-4 shadow-sm">
            <div class="card-body">
              <%= link_to anime_path(post.anime.anime_id) do %>
                <div class="col d-flex align-items-center border-bottom" style="padding:13px;">
                  <img class="card-img-top<%=post.anime.anime_id%> img-fluid" alt="Card image cap" style="width: 15%;">
                  <p class="mt-3 ml-4 card-title<%=post.anime.anime_id%>"></p>
                </div>
              <% end %>
              <div class="border-bottom" style="padding:13px;" id="review-rating<%= post.id %>" data-score="<%= post.rate %>">評価：</div>
              <span class="sentiment-score">本文の感情分析スコア<%= post.score %></span>
              <ul class="list-group list-group-flush">
              <h5 class="mt-2">
               <font color="#708090">
                 感想
               </font>
              </h5>
             <p class="ml-3"><%= post.comment %></p>
              <% if post.customer == current_customer %>
                <div>
                 <%= link_to "削除", anime_post_path(post.anime, post), method: :delete %>
                </div>
              <% end %>
              <script>
                $('#review-rating<%= post.id %>').empty();
                $('#review-rating<%= post.id %>').raty({
                  readOnly: true,
                  score: function() {
                    return $(this).attr('data-score');
                  },
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                });
              </script>
            </div>
          </div>
        </div>
      <% end %>
      <script>get_animation_title(<%= @customer.posts.joins(:anime).distinct.pluck("animes.anime_id") %>)</script>
    </div>
  </div>
</div>
