 <div class="container">
  <div class="row">
   <h2 class="mx-auto pt-3 pb-1">フォロワー一覧</h2>
  </div>
  
  <% if @follower_customers.exists? %>
   <table class="table">
    <thead>
      <tr>
       <th>image</th>
       <th>name</th>
       <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
     <% @follower_customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer.id) %></td>
        <td><%= "フォロー #{customer.followings.count}" %></td>
        <td><%= "フォロワー数: #{customer.followers.count}" %></td>
        <td>
         <% unless current_customer == customer %>
          <% if current_customer.following?(customer) %>
            <%= link_to "フォローを外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-info" %>
           <% else %>
            <%= link_to "フォロー", customer_relationships_path(customer.id), method: :POST, class: "btn btn-outline-info" %>
           <% end %>
         <% end %>
        </td>
      </tr>
     <% end %>
    </tbody>
  </table>
  <% else %>
   <p>フォローしているユーザーはいません</p>
  <% end %>
 </div>