<script>
  function get_animation( params ){
    console.log(params);
    $.ajax({
      url: "https://api.annict.com/v1/works"+"?access_token=" + ANNICT_API_KEY + "&filter_ids=" + params,
      type:"GET",
      crossDomain:true,
      dataType : 'json',
      headers:{"accept":"application/json","Access-Control-Allow-Origin":"*"},
    }).done(function (data){
      console.log(data);
      data.works.forEach(anime=>{
        console.log(anime);
        $('.card-title'+anime.id).text(anime.title);
        $('.card-img-top'+anime.id).attr("src",anime.images.facebook.og_image_url);
      });
    }).fail(function (data) {
        
        alert('検索に失敗しました。');
    });
  }
</script>
<div class="container">
 <div class="row">
   <h1 class="mx-auto pt-5 pb-5">評価の高いアニメランキング</h1>
 </div>
 <div class="container container-m">
  <div class="card-deck">
   <% @animes.each do |anime| %>
    <div class="col-md-10">
      <div class="card mb-4 mt-4 shadow-sm">
        <div class="card-body d-flex align-items-center border-bottom">
          <img class="card-img-top<%=anime.anime_id%> img-fluid" alt="Card image cap" style="width: 15%;">
          <%= link_to anime_path(anime.anime_id) do %>
            <div class="col" style="padding:13px;">
              <p class="mt-3 ml-4 card-title<%=anime.anime_id%>"></p>
            </div>
          <% end %>
          <div class="mx-auto pt-2 pb-2 average_rate" data-score="<%= anime.posts.average(:rate) %>"></div>
          <script>get_animation(<%= @animes.distinct.pluck("anime_id") %>)</script>
        </div>
      </div>
    </div>
      <script>
        $('#review-rating<%= anime.id %>').empty();
        $('#review-rating<%= anime.id %>').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets/'
        });
      </script>
   <% end %>
  </div>
 </div>
<script>
 $('.average_rate').raty({
    size: 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    readOnly: true,
    score: "comment[rate]",
  });
</script>