<h1>アニメ詳細</h1>
<div>
  <%= @anime.title %>
</div>

<div>
  <p>コメント件数: <%= @anime.posts.count %></p>
</div>
<div>
  <p><%= link_to "コメント一覧", anime_comments_path(@anime.id) %></p>
</div>

<div>
  <% @comments.each do |comment| %>
   <p><%= comment %></p>
  <% end %>
</div>

<div>
  <%= form_with(model:[@anime,@post], url: anime_post_index_path(@anime.id), local: true) do |f| %>
   <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
   <%# 評価のコード %>
   <div id="evaluate_stars">
    <label>評価</label>

   <%= f.submit "送信する" %>
  <% end %>
</div>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[rate]' //登録するモデル名とカラム名を記述
  });
</script>