<!DOCTYPE html>
<html>
  <head>
    <title>Anieva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="Content/bootstrap.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/header' %>

  <body style="background-color:#f0f8ff;">
    <div class="container">
      <div class="text-center">
       <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
  </body>
  <div class="mt-5">
    <%= render 'layouts/footer' %>
  </div>
</html>
